.statistic-widget-card {
  padding: 8px 16px;

}
.border {
  border: 1px solid #eff2f5!important;
}
.border-dashed {
  border-style: dashed!important;
  border-color: #e4e6ef !important;
  border-radius: 0.475rem!important;
}



