.custom-top-nav.ant-menu-horizontal > .ant-menu-item-selected a {
    transition: color .2s ease, background-color .2s ease;
    background-color: rgba(62,121,247,.1);
    color: rgb(62, 121, 247);
    border-radius: 4px;
}

.custom-top-nav.ant-menu-horizontal > .ant-menu-item-active a:hover {
    transition: color .2s ease, background-color .2s ease;
    background-color: rgba(239, 242, 245, .4);
    color: rgb(62, 121, 247);
    border-radius: 4px;
}
