@import './styles/variables/_colors.less';
@import './styles/components/feedback/_spin.less';

.loading {
  .ant-spin {
    color: @primary-color;
  }
}

.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
  border-bottom: none !important;
}

.ant-menu-item a {
  width: 100%;
  height: 100%;
}

.custom-menu a {
  font-size: 13.5px;
  font-weight: 600;
}
